# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Migraciones (opcional en equipos)
**/migrations/__pycache__/
**/migrations/*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db