{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">
    {% if object %}✏️ Editar Medicina{% else %}➕ Nueva Medicina{% endif %}
</h1>

<form method="post" class="card p-3 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        {{ form.descripcion }}
    </div>

    <button class="btn btn-success">
        Guardar
    </button>

    <a href="{% url 'medicina_list' %}" class="btn btn-secondary">
        Cancelar
    </a>
</form>

{% endblock %}